<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Usuários</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="/py-AddUsers - Copia/projeto/static/styles.css">

</head>
<body>

   <!--
    Frontend
    O template index.html inclui um formulário para adicionar novos usuários e uma lista para exibir os usuários existentes.
    -->
    
    <div class="form-container">
        <h1>Adicionar usuários</h1>
        <form id="user-form" action="/add" method="post">
            <input type="text" name="name" placeholder="Nome completo" required>
            <input type="email" name="email" placeholder="Email" id="email" required>
            <button type="submit">Adicionar</button>
            <button type="reset" class="reset-button">Resetar</button>
                <div id="confirmation-modal" class="modal">
                    <button type="button" id="delete-all">Excluir Todos</button>
                </div>
        </form>

        <h3>Sugestão de melhorias</h3>
        <ul>
            <li>Assegurar que o usuário seja único</li>
            <li>Assegurar que o e-mail seja único</li>
            <li>O botão excluir só deve aparecer para o dono da aplicação</li>
            <li>O dono deve logar no sistema para que tenha acesso a este botão</li>
        </ul>

        <ol class="response">
            {% for user in users %}
                <li>{{ user.name }} - {{ user.email }}</li>
            {% endfor %}
        </ol>
    </div>
    
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
